<key>CFBundleDocumentTypes</key>
<array>
    <dict>
        <key>CFBundleTypeIconFile</key>
        <string>Document</string>
        <key>CFBundleTypeName</key>
        <string>Fanta Project Folder</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
        <key>LSItemContentTypes</key>
        <array>
            <string>public.folder</string>
        </array>
    </dict>
    <dict>
        <key>CFBundleTypeIconFile</key>
        <string>Document</string>
        <key>CFBundleTypeName</key>
        <string>Figma Design</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
        <key>CFBundleTypeExtensions</key>
        <array>
            <string>fig</string>
        </array>
    </dict>
    <dict>
        <key>CFBundleTypeIconFile</key>
        <string>Document</string>
        <key>CFBundleTypeName</key>
        <string>Fanta Design Source</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSHandlerRank</key>
        <string>Default</string>
        <key>CFBundleTypeExtensions</key>
        <array>
            <string>fnx</string>
        </array>
    </dict>
</array>
