<key>NSSystemAdministrationUsageDescription</key>
<string>The operation being performed by a program in Fanta requires elevated permission.</string>
<key>NSAppleEventsUsageDescription</key>
<string>An application in Fanta wants to use AppleScript.</string>
<key>NSCameraUsageDescription</key>
<string>An application in Fanta wants to use the camera.</string>
<key>NSMicrophoneUsageDescription</key>
<string>An application in Fanta wants to use your microphone.</string>
